
@{
    ViewBag.Title = "ErrorLog";
}

<h2>ErrorLog</h2>
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid lightgray;
        padding: 0 5px;
    }
</style>

<table id="logTable"></table> 
@section scripts {
    <script type="text/javascript">
        $(function () {
            var logTable = $("#logTable");

            var nlog = $.connection.signalRTargetHub;

            nlog.client.logEvent = function (datetime, logLevel, message) {
                var logLevelLower = logLevel.toLowerCase();

                var color = "transparent";
                switch (logLevelLower) {
                    case "fatal": color = "#FF9966";
                        break;
                    case "error": color = "#FFCC66";
                        break;
                    case "warn": color = "#FFFF99";
                        break;
                    case "info": colors = "#CCFFCC";
                        break;
                    case "debug": colors = "#CCCCFF";
                        break;
                        //"trace"
                }

                var tr = $("<tr>").css("background-color", color);
                tr.append($("<td>").text(datetime));
                tr.append($("<td>").text(logLevel));
                tr.append($("<td style='white-space: pre;'>").text(message));
                logTable.append(tr);
            };

            $.connection.hub.start().done(function () {
                nlog.server.hello();
            });
        });
    </script>
}


