@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>ASP.NET Push Message Web App</h1>
    <p class="lead">SignalR+ ActiveMQ+ RoleBase Access Control</p>
    <p><a href="https://github.com/megadotnet/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <img src="http://i2.asp.net/media/4459023/1.png?cdn_id=2015-05-22-001" alt="Components of ASP.NET Identity" />
        </p>
        <p><a class="btn btn-default" href="https://github.com/megadotnet/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>ActiveMQ</p>
        <p><a class="btn btn-default" href="https://github.com/megadotnet/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Default Accounts</h2>
        <p><pre>
        string email1 = "admin@163.com";
    string password1 = "admin123";
    string roleName1 = "Administrators";
    string email2 = "peter@163.com";
    string password2 = "123456";
    string roleName2 = "Users";</pre></p>
        <p><a class="btn btn-default" href="https://github.com/megadotnet/">Learn more &raquo;</a></p>
    </div>
</div>



  