<?xml version="1.0" encoding="utf-8" ?>
<!--http://stackoverflow.com/a/1008130-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  throwExceptions="true" internalLogFile="c:\nlog4.txt" internalLogLevel="Debug">
 <targets async="true">>
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
   layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}" />
   <target name="signalr" xsi:type="MethodCall" className="WebAuth.Hubs.SignalRTargetHub, Message.ServerHub" methodName="Send">
     <parameter layout="${longdate}" />
     <parameter layout="${level}" />
     <parameter layout="${callsite}: ${message}" />
   </target>
  <!-- database targets -->
    <target name="database" xsi:type="Database">    
    <connectionStringName>LogConnection</connectionStringName>
      <commandText>
        <!--http://www.cnblogs.com/sorex/archive/2013/01/31/2887174.html-->
        insert into Logs(CreateDate,LogLevel,CallSite,Massage,StackTrace) values (@CreateDate,@LogLevel,@CallSite,@Massage,@StackTrace);
      </commandText>
      <!-- parameters for the command -->
      <parameter name="CreateDate" layout="${longdate}" />
      <parameter name="LogLevel" layout="${level}" />
      <parameter name="CallSite" layout="${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}" />
      <parameter name="Massage" layout="${message}" />
      <parameter name="StackTrace" layout="${stacktrace}" />
    </target>
 </targets>
 <rules>
   <logger name="*" minlevel="Trace" writeTo="f" />
   <logger name="*" minlevel="Trace" writeTo="database" />
   <logger name="*" minlevel="Trace" writeTo="signalr" />
 </rules>
</nlog>