@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Support:</strong>   <a href="mailto:kmdxdk1@hotmail.com">kmdxdk1@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kmdxdk1@hotmail.com">kmdxdk1@hotmail.com</a>
</address>