@{
    ViewBag.Title = "Index";
}
@model WebAuth.Models.ApplicationUser
<div id="header">
    Chat Room
</div>
<br />
<br />
<br />

<div id="divContainer">
    <div id="divChat" class="chatRoom">
        <div class="title">
            Welcome to Chat Room [<span id='spanUser'></span>]

        </div>
        <div class="content">
            <div id="divChatWindow" class="chatWindow">
            </div>
            <div id="divusers" class="users">
            </div>
        </div>
        <div class="messageBar">
            <input class="textbox" type="text" id="txtMessage" />
            <input id="btnSendMsg" type="button" value="Send" class="submitButton" />
        </div>
    </div>

    <input id="hdId" type="hidden" />
    <input id="hdUserName" type="hidden" />
</div>
@section scripts {

<script type="text/javascript">
</script>
    }
